.match-list {
  min-height: 70vh;
}

.match-select {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px #42A5F5;
}

.match-select > p {
  position: relative;
  margin: auto;
  font-size: 0.7em;
  margin-bottom: 2px;
}

.match-list-item {
  position: relative;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 55px auto 55px;
  grid-template-rows: auto;
}

.match-list-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.match-list-item div :first-child {
  font-weight: bold;
  margin-bottom: 2px;
}

.match-list-item div :first-child~p {
  opacity: 0.6;
}

.match-list-item p {
  font-size: 0.55em;
  margin: 0;
  padding: 0;
  text-align: center;
}

.match-list-item img {
  width: 100%;
}

.slideswapleft-enter-active, .slideswapleft-leave-active {
  transition: .15s ease;
}

.slideswapleft-enter {
  opacity: 0;
  transform: translateX(300px);
}

.slideswapleft-leave-to {
  opacity: 0;
  transform: translateX(-300px);
}

.slideswapright-enter-active, .slideswapright-leave-active {
  transition: .15s ease;
}

.slideswapright-enter {
  opacity: 0;
  transform: translateX(-300px);
}

.slideswapright-leave-to {
  opacity: 0;
  transform: translateX(300px);
}
