<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SherwoodBET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/lib/touch.js"></script>
  </head>
  <body>
    <div id="app">
      <nav>
        SherwoodBET
      </nav>
      <div id="swipeit" v-touch:swipe.left="swipeHandler">{{ msg }}</div>
      <main>
          <div v-if="!selectedMatch">
            <p v-for="match of matches" @click="selectMatch(match)">
              {{ match.homeTeam.name }} - {{ match.awayTeam.name }}
            </p>
          </div>
          <div v-else>
            <p @click="selectMatch(null)">Back</p>
            <p>
              {{ selectedMatch.homeTeam.name }} - {{ selectedMatch.awayTeam.name }}
            </p>
            <p>{{ selectedMatch.date }}</p>
            <p>{{ selectedMatch.stadium }}</p>
            <p>{{ selectedMatch.info }}</p>
            <span v-for="(event, i) of selectedMatch.events">
              <span v-if="hasOddses(i)">o</span>
              <span v-if="!hasOddses(i)">x</span>
            </span>
            <div v-for="(event, i) of selectedMatch.events">
              <div v-if="isSelected(i)">
                <p>{{ event.name }}</p>
                <div>
                  <button @click="selectOut('1')">{{ event.options['1'] }}</button>
                  <span>{{ event.oddses['1'] }}</span>
                  <button @click="calculateNext('1', 1)">+</button>
                  <button @click="calculateNext('1', -1)">-</button>
                </div>
                <div>
                  <button @click="selectOut('X')">{{ event.options['X'] }}</button>
                  <span>{{ event.oddses['X'] }}</span>
                  <button @click="calculateNext('X', 1)">+</button>
                  <button @click="calculateNext('X', -1)">-</button>
                </div>
                <div>
                  <button @click="selectOut('2')">{{ event.options['2'] }}</button>
                  <span>{{ event.oddses['2'] }}</span>
                  <button @click="calculateNext('2', 1)">+</button>
                  <button @click="calculateNext('2', -1)">-</button>
                </div>
                <button @click="toPreviousEvent()">Previous</button>
                <button @click="toNextEvent()">Next</button>
              </div>
            </div>
          </div>
      </main>
      <footer>
      </footer>
    </div>
    <script src="data/matches/clelal.js"></script>
    <script src="data/matches/lachou.js"></script>
    <script src="data/matches/all.js"></script>
    <script src="js/deepCopy.js"></script>
    <script src="js/calculate.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
