<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SherwoodBET - 1.0.24</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="css/game.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/lib/touch.js"></script>
  </head>
  <body>
    <div id="app">
      <nav>
        SherwoodBET
      </nav>
      <main>
        <section class="match-list" v-if="!selectedMatch" v-touch:swipe.left="toNextDay" v-touch:swipe.right="toPreviousDay">
          <div id="nba-logo-container">
            <img src="/pwademo/assets/nbalogo.png">
          </div>
          <transition :name="slideswap" mode="out-in">
          <div :key="dayIndex">
          <p id="date">{{ selectedDay }}</p>
          <hr>
          <div v-for="match of matches" @click="selectMatch(match)" class="match-select">
            <p>{{ match.homeTeam.name }} - {{ match.awayTeam.name }}</p>
            <div class="match-list-item">
              <img :src="match.homeTeam.icon">
              <div>
                <p>{{ match.date }}</p>
                <p>{{ match.info }}</p>
                <p>{{ match.stadium }}</p>
              </div>
              <img :src="match.awayTeam.icon" alt="">
            </div>
          </div>
          </div>
          </transition>
        </section>
        <section v-else>
          <p @click="selectMatch(null)">&lt;&nbsp;Back</p>
          <div class="match-select">
            <p>{{ selectedMatch.homeTeam.name }} - {{ selectedMatch.awayTeam.name }}</p>
            <div class="match-list-item">
              <img :src="selectedMatch.homeTeam.icon">
              <div>
                <p>{{ selectedMatch.date }}</p>
                <p>{{ selectedMatch.info }}</p>
                <p>{{ selectedMatch.stadium }}</p>
              </div>
              <img :src="selectedMatch.awayTeam.icon" alt="">
            </div>
          </div>
          <div id="status-bar">
            <div v-for="(event, i) of selectedMatch.events">
              <div
                :class="{'green-status': hasOddses(i), 'red-status': !hasOddses(i), 'selected-status': isSelected(i)}">
              </div>
            </div>
          </div>
          <transition :name="eventSwap" mode="out-in">
            <div v-touch:swipe.left="toNextEvent" v-touch:swipe.right="toPreviousEvent" :key="selectedEvent.name">
              <p class="event-title">{{ selectedEvent.name }}</p>
              <div class="calculator">
                <div class="home-bar" :style="{ '--homebarh': `${selectedEvent.oddses['1']}%` }" v-touch:swipe.top="homeup" v-touch:swipe.bottom="homebottom">
                  <div @click="calculateNext('1', 1)">+</div>
                  <div @click="selectOut('1')">
                    <p>{{ selectedEvent.options['1'] }}</p>
                    <p>{{ selectedEvent.oddses['1'] }}%</p>
                  </div>
                  <div @click="calculateNext('1', -1)">-</div>
                </div>
                <div class="draw-bar" :style="{ '--drawbarh': `${selectedEvent.oddses['X']}%` }" v-touch:swipe.top="drawup" v-touch:swipe.bottom="drawbottom">
                  <div @click="calculateNext('X', 1)">+</div>
                  <div @click="selectOut('X')">
                    <p>{{ selectedEvent.options['X'] }}</p>
                    <p>{{ selectedEvent.oddses['X'] }}%</p>
                  </div>
                  <div @click="calculateNext('X', -1)">-</div>
                </div>
                <div class="away-bar" :style="{ '--awaybarh': `${selectedEvent.oddses['2']}%` }" v-touch:swipe.top="awayup" v-touch:swipe.bottom="awaybottom">
                  <div @click="calculateNext('2', 1)">+</div>
                  <div @click="selectOut('2')">
                    <p>{{ selectedEvent.options['2'] }}</p>
                    <p>{{ selectedEvent.oddses['2'] }}%</p>
                  </div>
                  <div @click="calculateNext('2', -1)">-</div>
                </div>
              </div>
          </div>
        </transition>
        </section>
      </main>
      <footer>
      </footer>
    </div>
    <script src="data/matches/clelal.js"></script>
    <script src="data/matches/lachou.js"></script>
    <script src="data/matches/atldal.js"></script>
    <script src="data/matches/memmil.js"></script>
    <script src="data/matches/bosphi.js"></script>
    <script src="data/matches/okcpor.js"></script>
    <script src="data/matches/dentor.js"></script>
    <script src="data/matches/clebro.js"></script>
    <script src="data/matches/porsan.js"></script>
    <script src="data/matches/all.js"></script>
    <script src="js/deepCopy.js"></script>
    <script src="js/calculate.js"></script>
    <script src="js/script.js"></script>
    <script src="js/register.js"></script>
  </body>
</html>
